version: '3.9'

services:
  backend:
    build: .
    container_name: laravel_app
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    ports:
      - "9000:9000"
    depends_on:
      - db
    environment:
      DB_CONNECTION: pgsql
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: garage_base
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
    command: sh -c "
      composer install --ignore-platform-reqs &&
      php artisan migrate:fresh --seed --force &&

      php artisan firebase:sync-interventions &&
      php artisan serve --host=0.0.0.0 --port=9000 "

    networks:
      - app-network

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: garage_base
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  pgdata:

networks:
  app-network:
    driver: bridge
